<%- include('partials/header') -%>
<section class="content">
  <div class="user-info">
    <!-- <h2><%= user.userName %></h2> -->
    <h2>@watch-this</h2>
    <div class="pc">
      <img src="https://images.unsplash.com/photo-1624344965194-6aa6729ad832?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="profile picture">
      <i style='font-size:24px' class='fa'>&#xf0d7</i>
    </div>
  </div>
  <div class="gallery u-grid">
    <% for(var i=0; i<posts.length; i++) {%>
    <a href="/post/<%= posts[i]._id%>" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="<%= posts[i].image%>" class="gallery__image">
      </figure>
    </a>
    <% } %>
  </div>
</section>
<%- include('partials/footer') -%>